<!-- src/app/cep-consulta/cep-consulta.component.html -->
<div>
  <h2>Consulta de CEPs</h2>

  <label for="cep">CEP:</label>
  <input type="text" id="cep" [(ngModel)]="cep" />

  <label for="raio">Raio (em KM):</label>
  <input type="number" id="raio" [(ngModel)]="raio" />

  <button (click)="consultarCep(cep)">Consultar</button>

  <div *ngIf="resultadoConsulta">
    <h3>Resultado da Consulta</h3>
    <!-- Exiba os resultados da consulta aqui -->
  </div>
</div>

<div>
  <h2>Histórico de Consultas</h2>

  <button (click)="obterHistorico()">Obter Histórico</button>

  <ul *ngIf="historico">
    <li *ngFor="let consulta of historico">
      {{ consulta.cep }} - Raio: {{ consulta.raio }} - Data:
      {{ consulta.timestamp | date : "medium" }}
    </li>
  </ul>
</div>
